#lastones{
    padding-inline: var(--inline-pad);
}
#lastones > .grid{
    min-height: 78vh;
}
#lastones .grid{
    height: 100%;
    display: grid;
    grid-gap:1rem;
    grid-template-columns: repeat(2,6fr);
}
#lastones .grid *{
    width: 100%;
    height: 100%;
    grid-gap:1rem;
}