footer{
    background: var(--text-clr);
    color: var(--bg-clr);
}
footer *{
    color: var(--bg-clr);
}
footer .wrapper{
    padding-inline:var(--inline-pad) ;
    display: grid;
    grid-template-columns: repeat(2,3.5fr) 5fr ;
}
footer .wrapper *{
    width: 100%;
}
footer .copyrights{
    text-align: center;
    padding: var(--base-pad);
    background: var(--scnd-text-clr);
    color: var(--bg-clr);
}

footer .copyrights *{
    color: var(--bg-clr);
}
@media screen and (max-width:640px){
    footer .wrapper{
        grid-template-columns: 12fr ;
    }
}