#liste_categories{
    padding-inline: var(--inline-pad);
}
#liste_categories .liste{
    display: grid;
    grid-template-columns: var(--cats-template-columns);
}
#liste_categories .liste .categorie{  
    margin-inline: var(--base-mar);
    height: 15vh;
}
#liste_categories .liste .categorie img{  
    width: 100%;
    height: 100%;
}
