@font-face {
    font-family: 'brandon-grotesque';
    src: url('BrandonGrotesque-Light.ttf');
}
:root{
    /* //paddings */
    --base-pad:10px;
    --base-mar:5px;
    --inline-pad:24rem;
    --inline-mar:5rem;
    --block-pad:4rem;
    --block-mar:2rem;

    /* //font */
    --text:1rem;
    --text:16px;
    --small-text:.8rem;
    --smaller-text:.5rem;
    --tiny-text:.3rem;
    --big-text:1.2rem;
    --huge-text:1.5rem;
    --font-family:sans-serif;
    --font-family:'brandon-grotesque';

    /* //dimensions */
    --nav-height:60px;
    --button-width:250px;
    --logobox-width:10%;
    --logobox-height:var(--nav-height);
    --heading-height:672px;
    --featured-template-columns:repeat(2,6fr);
    --cats-template-columns:repeat(8,3fr);

    /* //colors */
    --text-clr:#fff;
    --scnd-text-clr:#ddd;
    --bg-clr:#32594a;
    --scnd-clr:#74c6a6;
    --btn-text-clr:#ccc;

}
*,*::after,*::before{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6{
    font-size: var(--huge-text);
    color: var(--text-clr);
    padding-top: var(--base-pad);
    margin-bottom: var(--base-mar);
    border-bottom: 2px solid var(--bg-clr);
    padding-inline: var(--base-pad);
    z-index: -1;
}
a{
    font-weight: bolder;
}
a:hover,a:focus{
    opacity: .6;
}
img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 var(--scnd-clr);
    object-fit: cover;
}
p,button,textarea,input,ul{
    padding: var(--base-pad);
    border-radius: var(--base-radius);
    border: none;
}
textarea,input{
    margin-block: var(--base-mar);
    background-color: var(--bg-clr) !important;
    color: var(--text-clr) !important;
}
p{
    padding-block: calc(var(--base-pad)*2);
}
button{
    margin-inline: auto;
    margin-block: var(--base-mar);
    width: var(--button-width);
    font-weight: bolder;
    font-size: var(--big-text);
    color: var(--btn-text-clr) !important;
    background: none;
    border: 2px solid var(--text-clr);
    cursor: pointer;
}
button:active,button:focus{
    background: var(--text-clr);
    color: var(--bg-clr) !important;
    font-weight: bolder;
}
@media screen and (max-width:992px) {
    :root{

        /* //paddings */
        --base-pad:8px;
        --base-mar:4px;
        --inline-pad:4rem;
        --inline-mar:2rem;
        --block-pad:2rem;
        --block-mar:2rem;


        /* //dimensions */
        --nav-height:40px;
        --logobox-width:15%;
    }
}
@media screen and (max-width:640px) {
    :root{


        /* //font */
        --huge-text:1.5rem;


        /* //paddings */
        --base-pad:8px;
        --base-mar:4px;
        --inline-pad:0.2rem;
        --inline-mar:.25rem;
        --block-pad:1rem;
        --block-mar:1.25rem;

        /* //dimensions */
        --nav-height:40px;
        --logobox-width:30%;
        --logobox-height:66px;
        --heading-height:372px;
        --cats-template-columns:repeat(4,3fr);
        --featured-template-columns:12fr;
    }
}
body{
    background: var(--bg-clr);
    color: var(--text-clr);
    font-family: var(--font-family);
    font-size: var(--text);
}

.linebehind{
    position: relative;
    isolation: isolate;
    text-align: center;
    font-weight: bolder;
    font-size: 1.8rem;
}
.linebehind::before{
    content: '';
    position: absolute;
    border-top: .5em solid var(--scnd-clr);
    top: 50%;
    width: 100%;
    left: 0;
    z-index: -1;
}