:root{
    /* //paddings */
    --base-pad:10px;
    --base-mar:5px;
    --inline-pad:25rem;
    --inline-mar:5rem;
    --block-pad:4rem;
    --block-mar:2rem;

    /* //font */
    --text:1rem;
    --small-text:.8rem;
    --smaller-text:.5rem;
    --tiny-text:.3rem;
    --big-text:1.2rem;
    --huge-text:2rem;
    --font-family:sans-serif;

    /* //dimensions */
    --nav-height:60px;
    --button-width:250px;
    --logobox-width:10%;

    /* //colors */
    --text-clr:#333;
    --scnd-text-clr:#222;
    --bg-clr:#fff;
    --scnd-clr:#555;
    

    /* //tests */
    --bg-clr:#003;
    --text-clr:#fff;
    --scnd-clr:#00d;
    --scnd-text-clr:#ddd;
}
*,*::after,*::before{
    position: relative;
    isolation: isolate;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    font-size: var(--huge-text);
    background: var(--scnd-clr);
    color: var(--scnd-text-clr);
    padding-top: var(--base-pad);
    margin-bottom: var(--base-mar);
    border-bottom: 2px solid var(--bg-clr);
    padding-inline: var(--base-pad);
}
a{
    font-weight: bolder;
}
img{
    object-fit: cover;
}
p,button,textarea,input{
    padding: var(--base-pad);
    border-radius: var(--base-radius);
    border: none;
}
p{
    padding-block: calc(var(--base-pad)*2);
}
button{
    margin-inline: auto;
    width: var(--button-width);
    background: var(--text-clr);
    font-weight: bolder;
    font-size: var(--big-text);
    color: var(--scnd-text-clr);
}
@media screen and (max-width:992px) {
    :root{

        /* //paddings */
        --base-pad:8px;
        --base-mar:4px;
        --inline-pad:4rem;
        --inline-mar:2rem;
        --block-pad:2rem;
        --block-mar:2rem;


        /* //dimensions */
        --nav-height:50px;
        --logobox-width:20%;
    }
}
@media screen and (max-width:640px) {
    :root{
        
        /* //paddings */
        --base-pad:8px;
        --base-mar:4px;
        --inline-pad:1.5rem;
        --inline-mar:.25rem;
        --block-pad:1rem;
        --block-mar:1.25rem;

    /* //dimensions */
        --nav-height:40px;
        --logobox-width:30%;
    }
}
body{
    background: var(--bg-clr);
    color: var(--text-clr);
    font-family: var(--font-family);
}