footer{
    background: var(--scnd-clr);
}
footer *{
    color: var(--scnd-text-clr);
}
footer .wrapper{
    padding-inline:var(--inline-pad) ;
    display: grid;
    grid-template-columns: repeat(2,3.5fr) 5fr ;
}
