header{
    position: relative;
    isolation: isolate;
    display: grid;
    padding-inline:var(--inline-pad);
}
header > *{
    display: grid;
    grid-column: 1;
    grid-row: 1/-1;
    width: 100%;
    height: 100%;
    align-items: center;
}
header img{
    z-index: -1;
}
header .data{
    width: 50%;
}
header h1{
    margin-inline: auto;
    width: 80%;
}