#rubriques{
    padding-inline:var(--inline-pad);
}
#rubriques .liste{
    display: grid;
    grid-template-columns: var(--rubriques-template-columns);
}
#rubriques .liste .rubrique{
    display: grid;
    align-items: center;
    text-align: center;
    width: 100%;
}
#rubriques .liste .rubrique >*{
    font-size: var(--big-text);
    grid-column: 1;
    grid-row: 1/-1;
    background: var(--bg-clr);
}
#rubriques .liste img{
    width: 100%;
    height: 100%;
    z-index: -1;
}