#feed{
    padding-block:var(--block-pad);
    padding-inline: var(--inline-pad);
    display: grid;
    grid-template-columns: var(--feed-template-columns);
}
#feed >*{
    width: 100%;
}
#feed img{
    width: 100%;
}
#feed #maincontent .post{
    margin-right: calc(var(--inline-mar)*2);
    padding-top:unset;
    margin-bottom: var(--base-mar);
}
#feed #maincontent .post:first-child{
    padding-bottom: calc(var(--base-pad)*4);
}
#feed #maincontent .post:not(:first-child){
    padding-block: calc(var(--base-pad)*4);
}

#feed #maincontent .post p:not(:first-child){
    display: none;
}

#feed #maincontent .post.revealed p{
    display: block !important;
}
@media screen and (max-width:640px) {
    
    #feed #maincontent .post{
        margin-inline: unset;
        padding: var(--base-pad);
    }
}