#feed{
    padding-block:var(--block-pad);
    padding-inline: var(--inline-pad);
    display: grid;
    grid-template-columns: var(--feed-template-columns);
}




#feed #maincontent .post p:not(:first-child){
    display: none;
}

#feed #maincontent .post.revealed p{
    display: block !important;
}