:root{
    /* //paddings */
    --base-pad:10px;
    --base-mar:5px;
    --inline-pad:25rem;
    --inline-mar:5rem;
    --block-pad:4rem;
    --block-mar:2rem;

    /* //font */
    --text:1rem;
    --small-text:.8rem;
    --smaller-text:.5rem;
    --tiny-text:.3rem;
    --big-text:1.2rem;
    --huge-text:1.7rem;

    /* //dimensions */
    --nav-height:60px;
    --slides-height:30vh;
    --feed-template-columns:8fr 4fr;
    --button-width:250px;

    /* //colors */
    --text-clr:#333;
    --bg-clr:#fff;
    --scnd-clr:#555;
}
*,*::after,*::before{
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
a{
    font-weight: bolder;
}
p,button,textarea,input{
    padding: var(--base-pad);
}
button{
    margin-inline: auto;
    width: var(--button-width);
}
@media screen and (max-width:992px) {
    :root{

        /* //paddings */
        --base-pad:8px;
        --base-mar:4px;
        --inline-pad:10rem;
        --inline-mar:4rem;
        --block-pad:4rem;
        --block-mar:2rem;


        /* //dimensions */
        --nav-height:40px;
    }
}
@media screen and (max-width:640px) {
    :root{
        
        /* //paddings */
        --base-pad:8px;
        --base-mar:4px;
        --inline-pad:2.5rem;
        --inline-mar:1.25rem;
        --block-pad:1rem;
        --block-mar:1.25rem;


        --feed-template-columns:12fr;

        /* //dimensions */
        --nav-height:30px;
    }
}