nav{
    position: sticky;
    top: 0;
    height: var(--nav-height);
    background: var(--scnd-clr);
    color: var(--scnd-text-clr);
    padding-inline: var(--inline-pad);
    z-index: 1;
}
nav,nav *{
    color: var(--bg-clr);
}
