#slides{
    display: grid;
    grid-template-columns: var(--slides-template-columns);
    padding-inline: var(--inline-pad);
    min-height: var(--slides-height);
    background: var(--scnd-clr);
}
#slides .categorie{
    display: grid;
    grid-template-rows: var(--cat-template-rows);
    margin: var(--base-mar);
}
#slides .slide{
    display: grid;
    overflow: hidden;
    height: var(--slides-height) - var(--inline-pad);
    margin-block: var(--base-mar);
}