:root{
    --ipad:15rem;
    --bpad:2.5rem;
    --imar:15rem;
    --bmar:2.5rem;
    --base-radius:.5rem;
    --base-pad:1.5rem;
    --base-mar:5px;
    --clr:#fff;
    --bg-clr:#111;
    --scnd-clr:#111;
    --thrd-clr:#2224;

    --header-height:760px;
    --header-height:100vh;
    --button-width:250px;
    --button-height:50px;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
a{
    color: var(--clr);
    padding: var(--base-pad);
    margin: var(--base-mar);
}
a:hover,a:focus,a:focus-within{
    opacity: .6;
}
img{
    object-fit: cover;
}
body{
    display: grid;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--bg-clr);
    background-image: url('/assets/firstbackground.avif');
    color: var(--clr);
    background-position: center;
    background-size:100%;
}

.bx{
    margin: var(--base-mar);
    padding: var(--base-pad);
    font-size: 2rem;
}
nav{
    position: sticky;
    top: 0;
}
p,button,textarea,input,ul{
    padding: var(--base-pad);
    border-radius: var(--base-radius);
    border: none;
    border-bottom:5px solid #3335;
}
textarea,input{
    margin-block: var(--base-mar);
    background-color: var(--bg-clr) !important;
    color: var(--text-clr) !important;
}
button{
    margin-inline: auto;
    margin-block: var(--bmar);
    min-width: var(--button-width);
    min-height: var(--button-height);
    font-weight: bolder;
    font-size: var(--big-text);
    color: var(--scnd-clr) !important;
    background: var(--clr);
    border: 2px solid var(--scnd-clr);
    cursor: pointer;
}
button:active,button:focus,button:hover{
    color: var(--clr) !important;
    background: var(--scnd-clr) !important;
    border: 2px solid var(--clr);
    font-weight: bolder;
}
.networks-icons{
    padding: var(--base-pad);
    text-align: center;
    margin-inline: auto;
    background-color: var(--thrd-clr);
}